@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 25rem;
    background: white;
    font-family: Red Hat Display;
    box-shadow:  0px 5px 15px 1px rgb(227, 227, 227);
    overflow: hidden;
    border-radius: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    padding-top: 2rem;
}

#img{
    width: 100%;
    height: auto;
}

.container h2 {
    color: hsl(223, 47%, 23%);
    margin: .5rem;
    font-weight: 900;
}

.container p {
    color: hsl(224, 23%, 55%);
    text-align: center;
    line-height: 1.7rem;
}

.subscribtion {
    display: flex;
    flex-direction:row ;
    background-color: hsl(225, 100%, 98%);
    border-radius: 12px;
    width: 100%;
    align-items: center;
}

.subscribtion #notes{
    width: auto;
    height: auto;
    margin: 1.5rem;
}

.subscribtion .change {
    font-size: 0.8rem;
    display:flex;
    color: hsl(245, 75%, 52%);
    width: 100%;
    font-weight: 700;
    justify-content: end;
    margin: 1.5rem;
}

.subscribtion .change:hover {
    color: hsl(245, 87%, 68%);
}

.subscribtion div p {
    margin: 0;
}

.subscribtion .annualPlan {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.btn {
    width: 100%;
    margin: 1.7rem;
    padding: .8rem;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(245, 93%, 68%);
}

.cancel {
    margin: 0;
    font-weight: 700;
    font-size: 0.85rem;
}
.cancel:hover {
    cursor: pointer;
    color: black;
}


@media (max-width: 412px) { /*For Samsung Galaxy S20 Ultra and below, 
                            Note: The background image provided doesn't have the correct width, it is only
                            meant for the purpose of a screen being 375px wide, feel free to correct me if I 
                            got that wrong*/
    body {
        font-size: 14px;
        height: auto;
        margin: 1em;
        background-image: url(./images/pattern-background-mobile.svg);
    }
    .container {
        padding:2em;
    }
}

@media (max-width: 414px) { /*To also make it look nice on an iPhone XR, which has a width of 414px*/
    body {
        font-size: 16px;
        height: auto;
        margin: 1em;
        background-image: url(./images/pattern-background-mobile.svg);
    }
    .container {
        padding:2em;
    }
}